// POPPINS
@font-face {
    font-family: Poppins;
    // src: url(../fonts/poppins/Poppins-Regular.ttf);
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins Light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}


// MONTSERRAT
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(../fonts/Montserrat/static/Montserrat-Thin.ttf);
}